<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>projeto-jsp-jdevtreinamento</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlets.ServletLogin</servlet-class>
  </servlet>
  <filter>
    <filter-name>FilterAutenticacao</filter-name>
    <filter-class>filter.FilterAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <url-pattern>/principal/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <servlet-name>ServletUsuarioController</servlet-name>
    <servlet-class>servlets.ServletUsuarioController</servlet-class>
  </servlet>
</web-app>